
3DFPS/3DFPS.sln
3DFPS/Assembly-CSharp.csproj
3DFPS/Library/Artifacts/ff/ff071e654c6135ec1a2c24cfc990697d
3DFPS/Library/CurrentMaximizeLayout.dwlt
3DFPS/Library/SceneVisibilityState.asset
3DFPS/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
3DFPS/Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
3DFPS/Library/ScriptAssemblies/Assembly-CSharp.dll
3DFPS/Library/ScriptAssemblies/Assembly-CSharp.pdb
3DFPS/Library/ScriptAssemblies/BuiltinAssemblies.stamp
3DFPS/Library/ShaderCache/0/01a83cce5b2d4aa2e7c788d5e3d63163.bin
3DFPS/Library/ShaderCache/4/4c6d879f2f2b2b190918ac0ab079950c.bin
3DFPS/Library/ShaderCache/5/5ed98f4554f3e36e3179339fc65c5ebb.bin
3DFPS/Library/ShaderCache/9/99a36a0bff2a7cee47d6dd4c173191d5.bin
3DFPS/Library/ShaderCache/c/c4e373e2f7d2b8937c006f79fae3f042.bin
3DFPS/Library/ShaderCache/c/cf209bc7ef9161283a9683b7dac52780.bin
3DFPS/Library/ShaderCache/d/dfb6b7795109e8129f6bec7e3f738492.bin
3DFPS/Library/ShaderCache/e/e01041ff72aa8423a88be4758ee674f3.bin
3DFPS/Library/ShaderCache/EditorEncounteredVariants
3DFPS/Library/ShaderCache/f/f24b2d0340bd1be6a7ef0ec9f61babc4.bin
3DFPS/Library/ShaderCache/f/ff2c9c5499112b9bb2186ecde89d0334.bin
3DFPS/Library/StateCache/MainStageHierarchy/08/08a38cce66188eb122064ea06f6c0b48.json
3DFPS/Library/StateCache/MainStageHierarchy/39/39ae73c459cf3a8b06ec9d56f748c7b6.json
3DFPS/Library/StateCache/SceneView/af/af5b0021cbfbfc5e4ec5b2e501cd625c.json
3DFPS/Logs/AssetImportWorker0.log
3DFPS/Logs/AssetImportWorker1.log
3DFPS/Logs/AssetImportWorker2.log
3DFPS/Logs/shadercompiler-UnityShaderCompiler1.log
3DFPS/Logs/shadercompiler-UnityShaderCompiler2.log
3DFPS/Logs/shadercompiler-UnityShaderCompiler3.log
3DFPS/Logs/shadercompiler-UnityShaderCompiler4.log
3DFPS/Logs/shadercompiler-UnityShaderCompiler5.log
3DFPS/Logs/shadercompiler-UnityShaderCompiler6.log
3DFPS/Logs/shadercompiler-UnityShaderCompiler7.log
3DFPS/Temp/__Backupscenes/0.backup
3DFPS/Temp/Assembly-CSharp-Editor.dll.hash
3DFPS/Temp/Assembly-CSharp.dll.hash
3DFPS/Temp/CompilationLog.txt
3DFPS/Temp/UnityTempFile-1587384ec1d77431a890f6d23cc88cf9
3DFPS/Temp/UnityTempFile-77154ba98689a4095845d7d0f433c8db
3DFPS/3DFPS.sln
3DFPS/Assembly-CSharp.csproj
3DFPS/Library/CurrentMaximizeLayout.dwlt
3DFPS/Library/SceneVisibilityState.asset
3DFPS/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
3DFPS/Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
3DFPS/Library/ScriptAssemblies/Assembly-CSharp.dll
3DFPS/Library/ScriptAssemblies/Assembly-CSharp.pdb
3DFPS/Library/ScriptAssemblies/BuiltinAssemblies.stamp
3DFPS/Library/ShaderCache/EditorEncounteredVariants
3DFPS/Library/StateCache/MainStageHierarchy/08/08a38cce66188eb122064ea06f6c0b48.json
3DFPS/Library/StateCache/SceneView/af/af5b0021cbfbfc5e4ec5b2e501cd625c.json
3DFPS/Logs/AssetImportWorker0.log
3DFPS/3DFPS.sln
3DFPS/Assembly-CSharp.csproj
3DFPS/Library/CurrentMaximizeLayout.dwlt
3DFPS/Library/SceneVisibilityState.asset
3DFPS/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
3DFPS/Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
3DFPS/Library/ScriptAssemblies/Assembly-CSharp.dll
3DFPS/Library/ScriptAssemblies/Assembly-CSharp.pdb
3DFPS/Library/ScriptAssemblies/BuiltinAssemblies.stamp
3DFPS/Library/ShaderCache/EditorEncounteredVariants
3DFPS/Library/StateCache/MainStageHierarchy/08/08a38cce66188eb122064ea06f6c0b48.json
3DFPS/Library/StateCache/SceneView/af/af5b0021cbfbfc5e4ec5b2e501cd625c.json
3DFPS/Logs/AssetImportWorker0.log
